//- Base Template for Header & Footer
doctype html
html
  head
    title Welcome to World Class Dance Acadamy
    block scripts
    block style   
    
  body
    nav#navbar
        ul
            div#logo
                img(src="../static/img/lg.png")
            li #[a(href="/") Home]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") About]
            li #[a(href="/contact") Contact Us]
            
    block content
    footer#footer
        |   Copyright © 2020-21 - All Rights Reserved By - World Class Dance Acadamy 